{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-12">
                <h1>
                {% if search != null %}
                    Search "{{ search }}" on Web
                {% else %}
                    Search on Web
                {% endif %}
                </h1>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" name="search" value="{{ search|default('') }}" placeholder="What do you search ?"/>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                {% for item in results %}
                    <div class="card my-3">
                        {% if item.type == 'web' %}
                            {% include "@Websearch/web.html.twig" with { item: item } %}
                        {% elseif item.type == 'image' %}
                            {% include "@Websearch/images.html.twig" with { item: item } %}
                        {% elseif item.type == 'video' %}
                            {% include "@Websearch/videos.html.twig" with { item: item } %}
                        {% elseif item.type == 'news' %}
                            {% include "@Websearch/news.html.twig" with { items: [item], withIndicators: true } %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}